
body {
    background-color: black;
  }
  
  h4 {
    color: #BEBBB7;
  }
  
  #top {
    height: 400px;
    overflow: auto;
  }
  
  .find-quote {
    color: #bf4040;
    text-align: right;
    border-right: solid #732626;
    height: 200px;
    margin: 60px auto;
    
  }
  
  .button {
    background-color: black;
    color: white;
    border: solid #7e7e7e 1px;
    outline: none;
  }
  
  .button:hover {
    outline: solid #7e7e7e 1px;
    border: solid black 1px;
    color: #545454;
  }
  
  .button:visited {
    outline: solid white 1px;
    border: solid white 1px;
  }
  
  .quote-area {
    margin-top: 10%px;
    color: white;
    overflow: auto;
    padding-bottom: 50px;
    position: float;
    min-height: 100%;
    max-height: 100%;
    
  }
  
  #quote {
    font-family: monospace;
    letter-spacing: 1px;
    padding-top: 10%;
    padding-left: 30px;
    text-align: center;
    color: white;
    font-size: 250%;
  }
  
  #by {
    text-align: right;
    margin-top: 2%;
    padding-right: 20%;
    font-family: monospace;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 1.2em;
    
  }
  
  .description {
    text-align: right;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    clear: both;
    overflow: hidden;
    color: #545454;
  }
  
  #bottom {
    position: relative;
    overflow: hidden;
  
  }
  
  
  #button2 {
    
    text-align: center;
    
  }
  
  #twitter-image {
    max-height: 60px;
   
  }
  
  #twitter-image:hover {
    border: solid white 1px;
  }
  